


.input{
	position: relative;
	width: 80%;
	color: darken($clr, 5);
	padding: .5em;
  margin: 3em auto 1em;

	& input {
		width:100%;
		height: 100%;
		font-size: 1.5em;
		color: darken($clr, 50);
		background: $bg-clr;
		padding: 1em;
		border: 2px solid $clr;
		border-radius: 15px;
		outline: none;
		z-index: 5;

		&:focus + label,
		&:valid + label{
			top: -0.3em;
			font-size: 1.25em;
		}
	}

	& label {
		position: absolute;
		top: 1.25em;
		left: 2em;
		padding: 0 0.5em;
		margin-bottom: 0.5em;
		pointer-events: none;
		background: $bg-clr;
		text-align: left;
		font-size: 1.5em;
		text-transform: capitalize;
		transition: all 500ms ease;
	}
}
